 <% include ../_partials/header %>


 <% include ../contact/_partials/profile_left.ejs %>

          <div class="eight columns">
            <div class="nav-right" >
              <ul>
                <li class="nav-right-obj-type"> 
                  <b><%= contact.obj_type%></b>
                </li>
                <li>
                    <a class="no-style-link selected" href="/@/<%= user.username %>/contact/<%= contact._id %>"><i class="fa fa-eye"></i>description</a>
                </li>
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/info">information</a>
                </li>
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/groups">groups</a>
                </li>
                
              </ul>
              
            </div>
            <div>
            <!-- <div id="i"> -->
            <% if(contact.headline){ %>
               <div>
                <span class="title-info">Brief Description:</span><br>
                <p> 
                  <%= contact.headline %>
                </p>
              </div> 
            <% } %>
            

            <% if(contact.about){ %>
              <div>
                <span class="title-info ">About:</span><br>
                <%- contact.about %>
              </div>
            <% } %>
            
            </div>
          </div>

      <!--  end row  -->
        </div>
    <!--  end container -->



    


<!-- footer start -->


<% include ../_partials/footer %>