<% include ../_partials/header %>

 <% include ../contact/_partials/profile_left.ejs %>


          <div class="eight columns">
            <div class="nav-right">
              <ul>
                <li class="nav-right-obj-type"> 
                  <b><%= contact.obj_type%></b>
                </li>
             
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/info">information</a>
                </li>
                <li>
                    <a class="no-style-link  selected" href="/@/<%= user.username %>/contact/<%= contact._id %>/groups"><i class="fa fa-eye"></i>groups</a>
                </li>

                <li>
                     <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/notes">notes</a>
                </li>
               
              </ul>
              
            </div>
            <div class="content-groups" >
            <!-- <div class="content-groups" id="i"> -->
               <a class="button button-primary" href="/@/<%= user.username %>/contact/<%= contact._id %>/add_groups">add or remove groups</a><br>

              <% groupArray.forEach(function(item){ %>

                <% if(item !== undefined){ %>
               
                  <div class="mini-p-content" >


                    <a class="" href="/@/<%= user.username %>/group/<%= item._id %>">
                      <%  if(item.img_foldername && item.img_thumbnail){ %>

                       <img class="profile-image" style=" background-image: url(/uploads/img/<%= item.img_foldername %>/<%= item.img_thumbnail %>); " src="/app/img/no-image_clear.png">

              

                      <% }else{  %>

                         <img class="profile-image" style=" background-image: url(<%= item.defaultBigThumb %>); " src="/app/img/no-image_clear.png">
              
                         
                      <% } %>
                    </a>

                      <a class="button button-primary" href="/@/<%= user.username %>/group/<%= item._id %>">Details</a>   
                      <div>
                        <div>
                          <span class="title-info"><%=  item.title %></span>
                        </div>
                        <div class="p-content-desc">
                          <% try{ %>
                             <span class="small-text" > <%= item.headline.trunc(70) %></span>
                            <% }catch(e){ %>
                             <span class="small-text" > <%= e %> </span>
                          <%  }%>
                        </div>
                       
                      </div> 
                   
                  </div>
                <% } %>
              <% }) %>

            
              
            </div>
          </div>





      <!--  end row  -->
        </div>

  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>

    <script>
      $('.mini-p-content').matchHeight();

     
    </script>


<!-- footer start -->


<% include ../_partials/footer %>