<% include ../_partials/header %>

 <% include ../contact/_partials/profile_left.ejs %>


          <div class="eight columns">
            <div class="nav-right">
              <ul>
                <li class="nav-right-obj-type"> 
                  <b><%= contact.obj_type%></b>
                </li>
             
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/info">information</a>
                </li>
                <li>
                    <a class="no-style-link  selected" href="/@/<%= user.username %>/contact/<%= contact._id %>/groups"><i class="fa fa-eye"></i>groups</a>
                </li>
               
              </ul>
              
            </div>
            <div class="content-groups" >
            <!-- <div class="content-groups" id="i"> -->
               <a class="button button-primary" href="/@/<%= user.username %>/contact/<%= contact._id %>/add_groups">add or remove groups</a><br>

              <% groupArray.forEach(function(item){ %>

                <% if(item !== undefined){ %>
                  <!--   <%= item %>
                     <a class="button button-primary" href="/hub/<%= item.hub_id %>/group/<%= item._id %>">More Details »</a>
                     <hr> -->

                  <div class="mini-p-content" >


                    <a class="" href="/@/<%= user.username %>/group/<%= item._id %>">
                      <%  if(item.img_foldername && item.img_thumbnail){ %>

                       <img class="profile-image" style=" background-image: url(/uploads/img/<%= item.img_foldername %>/<%= item.img_thumbnail %>); " src="/app/img/no-image_clear.png">

              

                      <% }else{  %>

                         <img class="profile-image" style="background-color:white; background-image: url(<%= item.defaultBigThumb %>); " src="/app/img/no-image_clear.png">
              
                         
                      <% } %>
                    </a>

                      <a class="button button-primary" href="/@/<%= user.username %>/group/<%= item._id %>">Details</a>   
                      <div>
                        <div>
                          <span class="title-info"><%=  item.title %></span>
                        </div>
                        <div class="p-content-desc">
                          <span class="small-text" > <%= item.short_description.trunc(70) %></span>
                        </div>
                       
                      </div> 
                   
                  </div>
                <% } %>
              <% }) %>

            
              
            </div>
          </div>





      <!--  end row  -->
        </div>

  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>

    <script>
      $('.mini-p-content').matchHeight();

      $("#button-profile-delete").on("click", function(){
         
          if (confirm("Are you sure you want to delete this entry?") == true) {

              var deletePath = $(this).attr('data-delete-path');
              var redirectPath = $(this).attr('data-redirect-path');
          
              $.post(deletePath, function() {
                window.location.href = redirectPath;
              });
          } else {
              return false;
          }

      })
    </script>


<!-- footer start -->


<% include ../_partials/footer %>