<% include ../_partials/header %>

 <% include ../contact/_partials/profile_left.ejs %>


          <div class="eight columns">
            <div class="nav-right">
              <ul>
                <li class="nav-right-obj-type"> 
                  <b><%= contact.obj_type%></b>
                </li>
                <li>
                    <a class="no-style-link selected" href="/@/<%= user.username %>/contact/<%= contact._id %>/info"><i class="fa fa-eye"></i>information</a>
                </li>
                <li>
                     <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/groups">groups</a>
                </li>

                <li>
                     <a class="no-style-link" href="/@/<%= user.username %>/contact/<%= contact._id %>/notes">notes</a>
                </li>
                 
              </ul>
              
            </div>
             <div>
               <!-- <p><b>Tags:</b> <a>#hiphop</a>   <a>#artist</a>   <a>#nyc</a></p> -->


            <% if(contact.headline){ %>
               <div>
                <h1 class="headline"> 
                  <%= contact.headline %>
                </h1>
              </div> 
            <% } %>
            
           <div class="about-block">
            <% if(contact.about){ %>
              <div id="info">
                <%- contact.about %>
              </div>
            <% } %>
          </div>

              <% if(contact.job_title){ %>
	              <span class="title-info">Job Title:</span>
	              <p><%= contact.job_title %></p>
              <% } %>

              <% if( isNaN( new Date( contact.birthday))  === false){ %>
	              <span class="title-info">Birthday:</span>
	              <p><%= contact.birthday %></p>
	             <% } %>


              <% if( isNaN( new Date( contact.birthday))  === false){ %>
                <span class="title-info">Age:</span>
                <p><%=  contact.age %></p>
              <% } %>


	          <% if(contact.email){ %>
	              <span class="title-info">Email:</span>
	              <p><a href="mailto:<%= contact.email %>"><%= contact.email %></a></p>
              <% } %>


              <% if(contact.primary_phone){ %>
	              <span class="title-info">Primary Phone:</span>
	              <p><%= contact.primary_phone %></p>
              <% } %>

              <% if(contact.mobile_phone){ %>
	              <span class="title-info">Mobile Phone:</span>
	              <p><%= contact.mobile_phone %></p>
              <% } %>

               <% if(contact.fax){ %>
	              <span class="title-info">Fax:</span>
	              <p><%= contact.fax %></p>
              <% } %>

      			  <% if(contact.address.isEmpty() === false){ %>
	              <span class="title-info">Location:</span>
	              <p><%= contact.address %></p>
              <% } %>

              <% if(contact.web_address){ %>
	              <span class="title-info">Online:</span>
	              <p><a href="<%=  contact.web_address %>" target="_blank"> <%= contact.web_address %> </a></p>
              <% } %>

            
              
            </div>
          </div>





      <!--  end row  -->
        </div>
    <script src="/app/js/readmore.min.js"></script>

  <script>
    $('#info').readmore({
      moreLink: '<a href="#">Read More <span class="fa fa-chevron-circle-down"> </span></a>',
       lessLink: '<a href="#">Read Less <span class="fa fa-chevron-circle-up"> </span></a>',
      collapsedHeight: 200,
      afterToggle: function(trigger, element, expanded) {
        if(! expanded) { // The "Close" link was clicked
          $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
        }
      }
    });

    $('article').readmore({speed: 500});
  </script>


<!-- footer start -->


<% include ../_partials/footer %>