  <% include ../../_partials/user_navigation.ejs %>

  <div class="row profile-area">
   
      <div class="four columns profile-content-left">
        
 
          <%  if(contact.img_foldername && contact.img_thumbnail){ %>
       
            <img class="profile-image" style=" background-image: url(/uploads/img/<%= contact.img_foldername %>/<%= contact.img_thumbnail %>); " src="/app/img/no-image_clear.png">

    			<% }else{  %>

             <img class="profile-image" style="background-image: url(<%= contact.defaultBigThumb %>); " src="/app/img/no-image_clear.png" >
             
    			<% }  %>
    

        <div  class="profile-content-left-info">
          <p>
           <%= contact.name %>
          </p>
          

        </div>
        <div class="button-profile-wrapper">
          <div style="float: left;">

            <a href="/@/<%= user.username %>/contact/<%= contact._id %>/update/"  class="button-profile"> 
           
              <span><i class="fa fa-pencil"></i> edit</span>
            </a>
          </div>
            <div  data-delete-path="/@/<%= user.username %>/contact/<%= contact._id %>/?_method=DELETE" data-redirect-path="/@/<%= user.username %>/contacts"  class="button-profile" id="button-profile-delete"> 
               <a href="#" >
              <span><i class="fa fa-trash-o"></i> delete</span>
              </a>
            </div>
       
        </div>
         
        
        
      </div>

        <script type="text/javascript" src="/vendor/js/moment.js"></script>
        <script type="text/javascript">

         
          var mTime = function(id){
             var stime = $(id).attr("data-date")
             var dtime = parseInt(stime)
             var mtime = moment(dtime).format('LLL');  
             $(id).append(mtime)
          }

          mTime("#creation-date")
          mTime("#updated-date")


        </script>