<% include ../_partials/header %>
<%= profile %>

<form action="/profile/<%= profile._id %>/update" method="post" accept-charset="utf-8">
		first_name: <input type "text" name="first_name" value="<%= profile.first_name %>" /> <br>

		last_name: <input type "text" name="last_name" value="<%= profile.last_name %>" /><br>
		
		description: <input type "text" name="description" value="<%= profile.description %>" /><br>
		email: <input type "text" name="email" value="<%= profile.email %>" /><br>
		<input type ="submit" value="Save">
	</form>