<% include ../_partials/header %>

  <% include ../_partials/user_navigation.ejs %>


 
 <div>
    <div style="float: left;">
	    <a href="/@/<%= user.username %>/group/<%= group._id %>/persons">
			<%  if(group.img_foldername && group.img_thumbnail){ %>
				<img style="background-color: #666; height: 30px; width: 30px;     border: 3px solid #000;" src="/uploads/img/<%= group.img_foldername %>/<%=  group.img_icon  %>"> 
			<% }else{  %>
				<img style="background-color: #<%= group.hex_color %>; height: 30px; width: 30px; border: 3px solid #000;" src="/app/img/no-image.png" >
			<% }  %>
		</a>
    
    </div>
    <div style="margin-left: 5px; width: 60%;">
    	<p class="title-info"  ><a href="/@/<%= user.username %>/group/<%= group._id %>"><%= group.title  %> </a>		                  	<!-- <span class="date-small"  > <span data-livestamp="<%= group.update_date %>"> </span> <%= group.update_date %></span>   -->
    	</p>

 
    </div>

</div>


<form style="clear: both;">
	<div class="p-content-list check-element">
	<% persons.forEach(function(name){ %>

	<%  if(name.checked === true) { %>


		<li style="">
	 		<div class="check-element-box p-content">
	 			<div>
						<div class="fancy-toggle-button">
							<%  if(name.img_foldername && name.img_thumbnail){ %>
				        	 <img class="profile-image" style=" background-image: url(/uploads/img/<%= name.img_foldername %>/<%=  name.img_icon  %>); " src="/app/img/no-image_clear.png">
						<% }else{  %>
							 <img class="profile-image" style=" background-image: url(<%= name.defaultBigThumb %>); " src="/app/img/no-image_clear.png">
						<% }  %>
					
				        <div class="Checkbox Module fancyToggle on styledToggle">
				            <div class="slider"></div>
				            <div class="onText status"></div>
				            <div class="offText status"></div>
								<input type="checkbox" name="group" value="<%= name._id %>" checked></div>
				        </div>
				</div>



	        
	 				<div >
	 					<p class="title-info"><span><%= name.first_name %> <%= name.middle_name %> <%= name.last_name %> <%= name.suffix %></span>		                  
	 					</p>
	 				</div>

	 		</div>
	 	</li>



	<%  } else { %>

		<li style="">
	 		<div class="check-element-box p-content">
	 		
	 			<div>
						<div class="fancy-toggle-button">
							<%  if(name.img_foldername && name.img_thumbnail){ %>
				        	 <img class="profile-image" style=" background-image: url(/uploads/img/<%= name.img_foldername %>/<%=  name.img_icon  %>); " src="/app/img/no-image_clear.png">
						<% }else{  %>
							 <img class="profile-image" style=" background-image: url(<%= name.defaultBigThumb %>); " src="/app/img/no-image_clear.png">
						<% }  %>
					
				        <div class="Checkbox Module fancyToggle styledToggle">
				            <div class="slider"></div>
				            <div class="onText status"></div>
				            <div class="offText status"></div>
								<input type="checkbox" name="group" value="<%= name._id %>"></div>
				        </div>
				</div>


















	        
	 				<div >
	 					<p class="title-info"><span><%= name.first_name %> <%= name.middle_name %> <%= name.last_name %> <%= name.suffix %></span>		                  
	 					</p>
	 				</div>

	 		</div>
	 	</li>



		<% } %>
	<% }) %>
	</div>
</form>

  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>

  <script>

   	$(".p-content-list li").matchHeight();

    $(".fancy-toggle-button").on("click", function(){
   		console.log("click")
   		$( this ).children( ".fancyToggle" ).click();
   	});


	$(".fancyToggle").on("click", function(e) {
	       $( this ).toggleClass("on");
	  
	    if ($(this).children('input').is(':checked')){
	    	$.ajax({
				  type: "DELETE",
				  url: location.pathname,
				  data: {'person_id': this.getElementsByTagName("input")[0].defaultValue},
				  success: "success",
				  dataType: "dataType"
				});

	      // console.log("unchecked");
		    $(this).children('input').prop( "checked", false );
	     //  console.log( this.getElementsByTagName("input")[0].defaultValue);
	     return false;


	    }else{

	    	$.ajax({
				  type: "POST",
				  url: location.pathname,
				  data: {'person_id': this.getElementsByTagName("input")[0].defaultValue},
				  success: "success",
				  dataType: "dataType"
				});

	    	
	       // console.log("checked"); 
	       $(this).children('input').prop( "checked", true );
	       return false;

	    }

	  // e.preventDefault();
	  //   e.stopPropagation();
	   return false;

	});



 

</script>


<!-- <form action="/add_group" method="post" accept-charset="utf-8">
		name: <input type="text" name="name" /> <br>	
		description: <input type="text" name="description" /><br>

		<input type ="submit" value="Save">
	</form> -->