<% include ../_partials/header %>



<hr>
<form class="formlist">
	<% persons.forEach(function(name){ %>

	<%  if(name.checked === true) { %>


		<li>
	 		<div class="p-content formlist-box">
	 			<div  class="formlist-box-inner" >
		 			<a href="/@/<%= user.username %>/person/<%= name._id %>">
		 				<%  if(name.img_foldername && name.img_thumbnail){ %>
				        	 <img src="/uploads/img/<%= name.img_foldername %>/<%=  name.img_icon  %>"> 
		        		<% }else{  %>
		        			 <img style="background-color: #<%= name.hex_color %>;" src="/app/img/no-image.png" >
		        		<% }  %>
		        	</a>
	                <br>
	 				<input type="checkbox" name="person" value="<%= name._id %>" style="margin-bottom: 0;" checked>
	 			</div>
	 			<br>
	 				<div class="formlist-title-box">
	 					<p class="title-info"><span> <%= name.first_name %> <%= name.middle_name %> <%= name.last_name %> <%= name.suffix %></span>		                  
	 					</p>
	 				</div>
	 		</div>
	 	</li>



	<%  } else { %>

		<li>
	 		<div class="p-content formlist-box">
	 			<div  class="formlist-box-inner" >
		 			<a href="/@/<%= user.username %>/person/<%= name._id %>">
		 				<%  if(name.img_foldername && name.img_thumbnail){ %>
				        	 <img src="/uploads/img/<%= name.img_foldername %>/<%=  name.img_icon  %>"> 
		        		<% }else{  %>
		        			 <img style="background-color: #<%= name.hex_color %>;" src="/app/img/no-image.png" >
		        		<% }  %>
		        	</a>
	                <br>
	 				<input type="checkbox" name="person" value="<%= name._id %>" style="margin-bottom: 0;" >
	 			</div>
	 			<br>
	 				<div class="formlist-title-box">
	 					<p class="title-info"><span> <%= name.first_name %> <%= name.middle_name %> <%= name.last_name %> <%= name.suffix %></span>		                  
	 					</p>
	 				</div>
	 		</div>
	 	</li>


		<% } %>
	<% }) %>
</form>

  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>


<script>
 $('.formlist li').matchHeight();

$('input:checkbox').change(
    function(){
       if ($(this).is(':checked')) {
       		$.ajax({
			  type: "POST",
			  url: location.pathname,
			  data: {'person_id': this.value},
			  success: "success",
			  dataType: "dataType"
			});
           return console.log("add " + this.value);
        }
       if ($(this).not(':checked')) {
       		$.ajax({
			  type: "DELETE",
			  url: location.pathname,
			  data: {'person_id': this.value},
			  success: "success",
			  dataType: "dataType"
			});
           return console.log("remove " + this.value);
        }
    });
</script>


<!-- <form action="/add_group" method="post" accept-charset="utf-8">
		name: <input type="text" name="name" /> <br>	
		description: <input type="text" name="description" /><br>

		<input type ="submit" value="Save">
	</form> -->