 <% include ../_partials/header %>

 <% include ../group/_partials/profile_left.ejs %>

          <div class="eight columns">
            <div class="nav-right">
              <ul>
                 <li class="nav-right-obj-type"> 
                  <b>group</b>
                </li>
            
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/group/<%= group._id %>">people</a>
                </li>
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/group/<%= group._id %>/info">information</a>
                </li>
                
              
              </ul>
              
            </div>
            <div>
            <!-- <div id="i"> -->
               <div>
                <span class="title-info">Brief Description:</span><br>

                <p> 
                   <%= group.headline %>
                </p>
              </div> 

              <div>
                <span class="title-info ">Detailed Description:</span><br>

                <p> 
                   <%- group.description %>
                </p>
              </div>
            
            </div>
          </div>

      <!--  end row  -->
        </div>
    <!--  end container -->
    </div>


   


<!-- footer start -->

    
  </body>
</html>