<% include ../_partials/header %>
<%= group %>
<a href="/@/<%= user.displayname %><//group/<%= group._id %>/add_persons/">add persons</a>
<a href="/@/<%= user.displayname %><//group/<%= group._id %>/update/">update</a>


<form method="POST" action="?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>