<% include ../_partials/header %>
<% if ( messages.info) { %>
	<p><%= messages.info %></p>
<% } %>


  <% include ../_partials/user_navigation.ejs %>

<div class="button-area space-up">
 	<a class="button button-primary" href="/@/<%= user.username %>/add_group">+ add group</a>
</div>
      <div class="p-content-list ">
	
	    <div class="search-things">
	    	
	        <form >
	          <div class="row">
	            <div class="columns title-info">
	              <label for="GroupTitle">Search By Group Title:</label>
	              <input id="p-search" name="title" class="u-full-width" type="text" placeholder="Group Title" id="input-group-title" value="<%= query.title %>">

	              <button id="p-search-button" class="button-primary" type="submit"><img src="/app/img/magnifying_glass_icon.png" > </button>


	            </div>
	          
	          </div>
       
	        </form>

	    </div>


		  <% if(groups.length === 0){ %>
		  			
		  	<div class="row">
	            <div class="twelve columns">
		  		
		  				<p> <b> No entries. </b> </p>
			            
			         

			           </div>
	          </div>
		  <%  } %>

		<% groups.forEach(function(group){ %>


 
		

			<div class="p-content">
				<a href="/@/<%= user.username %>/group/<%= group._id %>">
					<%  if(group.img_foldername && group.img_thumbnail){ %>
					<img src="/uploads/img/<%= group.img_foldername %>/<%= group.img_thumbnail %>">
					     <!-- <img src="/app/img/no-image.png" > -->
					<% }else{  %>
					 <img style="background-color: #EEEEEE" src="<%= group.defaultBigThumb %>" >

					<% }  %>
				</a>
				<a class="button button-primary" href="/@/<%= user.username %>/group/<%= group._id %>">More Details »</a> 
				<div>
					<div>
						<span class="title-info"><%= group.title.trunc(30) %> </span>
					</div>
					<div class="p-content-desc">
						<span class="small-text" > <%=  `${group.short_description}`.trunc(70) %> </span><br>
					</div>
					<div class="updated-date">
						<b class="small-text">Edited <span  data-livestamp="<%= group.update_date %>"> </span></b><br>
					</div>
				</div> 

					         
			</div>

          
		<% }) %>




              
      </div>

  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>
  <script type="text/javascript" src="/vendor/js/URI.js"></script>
  <script type="text/javascript" src="/vendor/js/moment.js"></script>
  <script type="text/javascript" src="/vendor/js/livestamp.min.js"></script>
 


        <div class="prev-next-buttons">
          <div class="button button-primary prev-button"  id="previous" href="#">« Previous</div>  
          <div class="button button-primary next-button"  id="next" href="#">Next »</div>  
        </div>

    </div>




    <script type="text/javascript">
      $(function() {
          $('.p-content').matchHeight();


			var uri = new URI(location.href)
			var queries = uri.search(true)
			var querySkip = parseInt(queries.skip) || 0;
			queries.title = queries.title || "";
			var queriesPage = queries.title

			if( !($(".p-content").length > 20) ){
				$('#next').css("display", "none")
			}



			if(querySkip === 0){
			  // $('#previous').on("click", function (e) {
			  //       console.log("begining")
			  //   });
		      	$('#previous').css("display", "none")
			  	$('#next').on("click", function (e) {
					window.location.href = location.origin  + location.pathname + "?title=" + queries.title +  "&skip=" + (querySkip + 1)
			    });
			  
			  
			}else{
				$('#previous').on("click", function (e) {
					window.location.href = location.origin  + location.pathname + "?title=" + queries.title + "&skip=" + (querySkip - 1)
			    });
			    $('#next').on("click", function (e) {
					window.location.href = location.origin  + location.pathname + "?title=" + queries.title + "&skip=" + (querySkip + 1)
			    });
			}


			// console.log(location.pathname)
			// console.log(location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + querySkip)
			// console.log(location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + (querySkip + 1))


      });
    </script>




  </body>
</html>