 <% include ../_partials/header %>

 <% include ../group/_partials/profile_left.ejs %>

          <div class="eight columns">
            <div class="nav-right">
              <ul>
                 <li class="nav-right-obj-type"> 
                  <b>group</b>
                </li>
            
                <li>
                    <a class="no-style-link " href="/@/<%= user.username %>/group/<%= group._id %>">contacts</a>
                </li>
                <li>
                    <a class="no-style-link selected" href="/@/<%= user.username %>/group/<%= group._id %>/info">information</a>
                </li>
              </ul>
              
            </div>
            <div>

              <% if(group.headline){ %>
                 <div>
                  <h1 class="headline"> 
                    <%= group.headline %>
                  </h1>
                </div> 
              <% } %>

              <div class="about-block">
                <% if(group.about){ %>
                  <div id="info">
                    <%- group.about %>
                  </div>
                <% } %>
              </div>
             <!--  <div id="i"> -->
              <span class="title-info">Name:</span>
              <p><%= group.name %></p>

              <% if(group.job_title){ %>
                <span class="title-info">Job Title:</span>
                <p><%= group.job_title %></p>
              <% } %>

              <% if( isNaN( new Date( group.creation_day))  === false){ %>
                <span class="title-info">Creation Day:</span>
                <p><%= group.creation_day %></p>
               <% } %>

              <% if(group.group_type){ %>
                <span class="title-info">Group Type:</span>
                <p class="info-text"><%= group.group_type %></p>
              <% } %>

              <% if(group.industry){ %>
                <span class="title-info">Industry:</span>
                <p class="info-text"><%= group.industry %></p>
              <% } %>

              <% if(group.email){ %>
                <span class="title-info">Email:</span>
                <p><a href="mailto:<%= group.email %>"><%= group.email %></a></p>
              <% } %>

              <% if(group.primary_phone){ %>
                <span class="title-info">Primary Phone:</span>
                <p><%= group.primary_phone %></p>
              <% } %>

              <% if(group.fax){ %>
                <span class="title-info">Fax:</span>
                <p><%= group.fax %></p>
              <% } %>

              <% if(group.address.isEmpty() === false){ %>
                <span class="title-info">Location:</span>
                <p><%= group.address %></p>
              <% } %>

              <% if(group.web_address){ %>
                <span class="title-info">Web Address:</span>
                <p><a href="<%=  group.web_address %>" target="_blank"> <%= group.web_address %> </a></p>
              <% } %>    
            </div>
          </div>

      <!--  end row  -->
        </div>
    <!--  end container -->
    </div>


   

<!-- footer start -->

    
  </body>
</html>