 <% include ../_partials/header %>

 <% include ../group/_partials/profile_left.ejs %>

          <div class="eight columns">
            <div class="nav-right">
              <ul>
                 <li class="nav-right-obj-type"> 
                  <b>group</b>
                </li>
            
                <li>
                    <a class="no-style-link selected" href="/@/<%= user.username %>/group/<%= group._id %>">people</a>
                </li>
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/group/<%= group._id %>/info">information</a>
                </li>
                <li>
                    <a class="no-style-link" href="/@/<%= user.username %>/group/<%= group._id %>/description">description</a>
                </li>
              
              </ul>
              
            </div>
            <div class="content-persons" >
              
                <a class="button button-primary" href="/@/<%= user.username %>/group/<%= group._id %>/add_persons">add or remove people</a><br>

                <% personArray.forEach(function(item){ %>


                  <% if(item !== undefined){ %>

                    <div class="mini-p-content" >



                    <a class="" href="/@/<%= user.username %>/person/<%= item._id %>">
                      <%  if(item.img_foldername && item.img_thumbnail){ %>

                       <img class="profile-image" style=" background-image: url(/uploads/img/<%= item.img_foldername %>/<%= item.img_thumbnail %>); " src="/app/img/no-image_clear.png">

              

                      <% }else{  %>

                         <img class="profile-image" style="background-color:white; background-image: url(<%= item.defaultBigThumb %>); " src="/app/img/no-image_clear.png">
              
                         
                      <% } %>
                    </a>

                      <a class="button button-primary" href="/@/<%= user.username %>/group/<%= item._id %>">Details</a>   
                      <div>
                        <div>
                          <span class="title-info"><%=  item.first_name %></span>
                        </div>
                        <div class="p-content-desc">
                          <span class="small-text" > <%= item.short_description.trunc(70) %></span>
                        </div>
                       
                      </div> 
                              



                      
                    </div>
                  
                  <% } %>

                <% }) %>

            </div>
          </div>

      <!--  end row  -->
        </div>
    <!--  end container -->
    </div>
<script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>

    <script>
      $('.mini-p-content').matchHeight();

      $("#button-profile-delete").on("click", function(){
         
          if (confirm("Are you sure you want to delete this entry?") == true) {

              var deletePath = $(this).attr('data-delete-path');
              var redirectPath = $(this).attr('data-redirect-path');
          
              $.post(deletePath, function() {
                window.location.href = redirectPath;
              });
          } else {
              return false;
          }

      })

      
    </script>


<!-- footer start -->

    
  </body>
</html>