<% include ../_partials/header %>
<%= group %>
<hr>


<hr>
<form>
	<% groups.forEach(function(name){ %>
	<%= JSON.stringify(name) %>
	<%  if(name.checked === true) { %>

	 <input type="checkbox" name="group" value="<%= name._id %>" checked><%= name.first_name %> <%= name.last_name %> <br>

	<%  } else { %>

	<input type="checkbox" name="group" value="<%= name._id %>"><%= name.first_name %> <%= name.last_name %> <br>
		<% } %>
	<% }) %>
</form>


<script>
$('input:checkbox').change(
    function(){
       if ($(this).is(':checked')) {
       		$.ajax({
			  type: "POST",
			  url: location.pathname,
			  data: {'group_id': this.value},
			  success: "success",
			  dataType: "dataType"
			});
           return console.log("add " + this.value);
        }
       if ($(this).not(':checked')) {
       		$.ajax({
			  type: "DELETE",
			  url: location.pathname,
			  data: {'group_id': this.value},
			  success: "success",
			  dataType: "dataType"
			});
           return console.log("remove " + this.value);
        }
    });
</script>


<!-- <form action="/add_group" method="post" accept-charset="utf-8">
		name: <input type="text" name="name" /> <br>	
		description: <input type="text" name="description" /><br>

		<input type ="submit" value="Save">
	</form> -->