<% include ../_partials/header %>

<a class="no-style-link selected" href="/@/<%= user.displayname %>/person/<%= person_id %>/groups">person</a>
<form>
	<% groups.forEach(function(name){ %>
	<%= JSON.stringify(name._id) %>
	<%  if(name.checked === true) { %>

	 <input type="checkbox" name="group" value="<%= name._id %>" checked><%= name.first_name %> <%= name.last_name %> <br>

	<%  } else { %>

	<input type="checkbox" name="group" value="<%= name._id %>"><%= name.first_name %> <%= name.last_name %> <br>
		<% } %>
	<% }) %>
</form>


<script>
$('input:checkbox').change(
    function(){
       if ($(this).is(':checked')) {
       		$.ajax({
			  type: "POST",
			  url: location.pathname,
			  data: {'group_id': this.value},
			  success: "success",
			  dataType: "dataType"
			});
           return console.log("add " + this.value);
        }
       if ($(this).not(':checked')) {
       		$.ajax({
			  type: "DELETE",
			  url: location.pathname,
			  data: {'group_id': this.value},
			  success: "success",
			  dataType: "dataType"
			});
           return console.log("remove " + this.value);
        }
    });
</script>



