<% include ../_partials/header %>


    <% include ../_partials/user_navigation.ejs %>

  
 <div>
    <div style="float: left;">
	    <a href="/@/<%= user.username %>/person/<%= person._id %>/groups">
			<%  if(person.img_foldername && person.img_thumbnail){ %>
				<img style="background-color: #666; height: 30px; width: 30px;     border: 3px solid #000;" src="/uploads/img/<%= person.img_foldername %>/<%=  person.img_icon  %>"> 
			<% }else{  %>
				<img style="background-color: #<%= person.hex_color %>; height: 30px; width: 30px; border: 3px solid #000;" src="/app/img/no-image.png" >
			<% }  %>
		</a>
    
    </div>
    <div style="margin-left: 5px; width: 60%;">
    	<p class="title-info"  ><a href="/@/<%= user.username %>/person/<%= person._id %>/groups"><%= person.title  %> <%= person.first_name  %> <%= person.middle_name  %> <%= person.last_name  %> <%= person.suffix %></a>		                  	<!-- <span class="date-small"  > <span data-livestamp="<%= person.update_date %>"> </span> <%= person.update_date %></span>   -->
    	</p>

 
    </div>

</div>
 <!-- border: 3px solid #000; -->

<form style="clear: both;">
	<div class="p-content-list check-element">
	<% groups.forEach(function(name){ %>
	<!-- <%= JSON.stringify(name._id) %> -->
	<%  if(name.checked === true) { %>
	
     <li style="">
 		<div class="check-element-box p-content">
 			<div >
	 			<a href="/@/<%= user.username %>/group/<%= name._id %>">
	 				<%  if(name.img_foldername && name.img_thumbnail){ %>
			        	 <img src="/uploads/img/<%= name.img_foldername %>/<%=  name.img_icon  %>"> 
	        		<% }else{  %>
	        			 <img src="<%= name.defaultBigThumb %>">
	        		<% }  %>
	        	</a>





    			<label>
		            <div class="Checkbox Module fancyToggle on styledToggle">
			            <div class="slider"></div>
			            <p class="onText status">&#10004;</p>
			            <p class="offText status">&#10006;</p>
		 				<input type="checkbox" name="group" value="<%= name._id %>" checked></div>
		            </div>
		        </label>

        
 				<div >
 					<p class="title-info"><span><%= name.title %></span>		                  
 					</p>
 				</div>

 		</div>
 	</li>





	<%  } else { %>

	
     <li style="">
 		<div class="check-element-box p-content">
 			<div >
	 			<a href="/@/<%= user.username %>/group/<%= name._id %>">
	 				<%  if(name.img_foldername && name.img_thumbnail){ %>
			        	 <img src="/uploads/img/<%= name.img_foldername %>/<%=  name.img_icon  %>"> 
	        		<% }else{  %>
	        			 <img src="<%= name.defaultBigThumb %>">
	        		<% }  %>
	        	</a>





    			<label>
		            <div class="Checkbox Module fancyToggle styledToggle">
			            <div class="slider"></div>
			            <p class="onText status">&#10004;</p>
			            <p class="offText status">&#10006;</p>
		 				<input type="checkbox" name="group" value="<%= name._id %>" ></div>
		            </div>
		        </label>

        
 				<div >
 					<p class="title-info"><span><%= name.title %></span>		                  
 					</p>
 				</div>

 		</div>
 	</li>

		





		
		<% } %>
	<% }) %>
	</div>
</form>


  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>




  <script>

   $(".p-content-list li").matchHeight();
	$(".fancyToggle").on("click", function(e) {
	       $( this ).toggleClass("on");
	  
	    if ($(this).children('input').is(':checked')){
	    	$.ajax({
				  type: "DELETE",
				  url: location.pathname,
				  data: {'group_id': this.getElementsByTagName("input")[0].defaultValue},
				  success: "success",
				  dataType: "dataType"
				});

	      // console.log("unchecked");
		    $(this).children('input').prop( "checked", false );
	     //  console.log( this.getElementsByTagName("input")[0].defaultValue);
	     return false;


	    }else{

	    	$.ajax({
				  type: "POST",
				  url: location.pathname,
				  data: {'group_id': this.getElementsByTagName("input")[0].defaultValue},
				  success: "success",
				  dataType: "dataType"
				});

	    	
	       // console.log("checked"); 
	       $(this).children('input').prop( "checked", true );
	       return false;

	    }

	  // e.preventDefault();
	  //   e.stopPropagation();
	   return false;

	});



 

</script>

<!-- footer start -->


<% include ../_partials/footer %>

