<% include ../_partials/header %>

 <% include ../person/_partials/profile_left.ejs %>


          <div class="eight columns">
            <div class="nav-right">
              <ul>
             
                <li>
                    <a class="no-style-link" href="/hub/<%= hub._id %>/person/<%= person._id %>">description</a>
                </li>
                <li>
                    <a class="no-style-link" href="/hub/<%= hub._id %>/person/<%= person._id %>/info">information</a>
                </li>
                <li>
                    <a class="no-style-link  selected" href="/hub/<%= hub._id %>/person/<%= person._id %>/groups">groups</a>
                </li>
                 <li>
                    <a class="no-style-link" href="#">events</a>
                </li>
                <li>
                    <a class="no-style-link" href="#">notes</a>
                </li>
                  <li>
                    <a class="no-style-link" href="#">history</a>
                </li>
              </ul>
              
            </div>

            <div class="content-groups" >

              <% groupArray.forEach(function(item){ %>
            <!--   <%= item %>
               <a class="button button-primary" href="/hub/<%= item.hub_id %>/group/<%= item._id %>">More Details »</a>
               <hr> -->

            <div class="mini-p-content" >
              <a class="" href="/hub/<%= item.hub_id %>/group/<%= item._id %>">
                

                <%  if(item.img_foldername && item.img_thumbnail){ %>
                      <img style="background-color: #666;    border: 3px solid #000;" src="/uploads/img/<%= item.img_foldername %>/<%=  item.img_thumbnail %>"> 
                     <!-- <img src="/app/img/no-image.png" > -->
                  <% }else{  %>
                  <!--  <img style="background-color: #666; height: 60px; width: 60px;     border: 3px solid #000;" > -->    <img src="/app/img/no-image.png" >
                  <% }  %>
              </a>
              <div>
                <div class="title-info-wrapper">
                  <span class="title-info"><%= item.title %> </span>
                </div>
              </div> 
              <a class="button button-primary" href="/hub/<%= item.hub_id %>/group/<%= item._id %>">More Details »</a>
            </div>
              <% }) %>


            





            




            
              
            </div>
          </div>





      <!--  end row  -->
        </div>
    <!--  end container -->
    </div>
  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>

    <script>
      $('.mini-p-content').matchHeight();

      $("#button-profile-delete").on("click", function(){
         
          if (confirm("Are you sure you want to delete this entry?") == true) {

              var deletePath = $(this).attr('data-delete-path');
              var redirectPath = $(this).attr('data-redirect-path');
          
              $.post(deletePath, function() {
                window.location.href = redirectPath;
              });
          } else {
              return false;
          }

      })
    </script>


<!-- footer start -->

    
  </body>
</html>