<% include ../_partials/header %>
<% if ( messages.info) { %>
	<p><%= messages.info %></p>
<% } %>
<% include ../_partials/user_navigation.ejs %>

<div class="button-area space-up">
 	 <a class="button button-primary" href="/@/<%= user.username %>/add_person">+ add person</a>
</div>



      <div class="p-content-list">
	
      	
      


	    <div class="search-things">
	    	<form >
	          <div class="row">
	            <div class="columns title-info">
	             <!--  <label for="GroupTitle">Search:</label> -->


	        <tr>
                <td>
                    <input type="radio" name="obj_type" id="radio4" class="css-checkbox" value="all" <% if(query.obj_type === "all" || query.obj_type === undefined){ %> checked <% } %>  />
                    <label for="radio4" class="css-label radGroup2">All</label>
                </td>
                <td>
                    <input type="radio" name="obj_type" id="radio5" class="css-checkbox"  value="people" <% if(query.obj_type === "people"){ %> checked <% } %> />
                    <label for="radio5" class="css-label radGroup2">People</label>
                </td>
                <td>
                    <input type="radio" name="obj_type" id="radio6" class="css-checkbox" value="entities" <% if(query.obj_type === "entities"){ %> checked <% } %> />
                    <label for="radio6" class="css-label radGroup2">Entities</label>
                </td>
            </tr>
            <div>
	              <input id="p-search" name="first_name" class="u-full-width" type="text" placeholder="Contact Name" id="input-group-title" value="<%= query.first_name %>">

	              <button id="p-search-button" class="button-primary" type="submit"><img src="/app/img/magnifying_glass_icon.png" > </button>
	               <div>   
	        </div> 
	    </div> 

	   



          




	            </div>
	          
	          </div>
       
	        </form>
	    	
	        <!-- <form >
	          <div class="row">
	            <div class="six columns title-info">
	              <label for="FirstName">First Name:</label>
	              <input name="first_name" class="u-full-width" type="text" placeholder="First Name" id="input-first-name" value="<%= query.first_name %>">
	            </div>
	            <div class="six columns title-info">
	              <label for="LastName">last Name:</label>
	              <input name="last_name" class="u-full-width" type="text" placeholder="Last Name" id="input-lasst-name" value="<%= query.last_name %>">
	            </div>
	          </div>



			 <div class="row">
	            <div class="twelve columns">
	                <input class="button-primary" type="submit" value="Submit">
	                 <a class="button button-primary" href="/@/<%= user.username %>/persons"> < reset</a>
	             
	            </div>
	          </div>

	          
       
	        </form> -->

	    </div>


		  <% if(persons.length === 0){ %>
		  			
		  	<div class="row">
	            <div class="twelve columns">
		  		
		  				<p> <b> No entries. </b> </p>
			            
			         

			           </div>
	          </div>
		  <%  } %>
<div>
		<% persons.forEach(function(person){ %>


			<div class="p-content">
				<a href="/@/<%= user.username %>/person/<%= person._id %>">
					<%  if(person.img_foldername && person.img_thumbnail){ %>

					 <img class="profile-image" style=" background-image: url(/uploads/img/<%= person.img_foldername %>/<%= person.img_thumbnail %>); " src="/app/img/no-image_clear.png">

					<!-- <div  class="background-img" style="    background-image: url(/uploads/img/<%= person.img_foldername %>/<%= person.img_thumbnail %>); ">
						<img style="opacity: 0;" src="/app/img/no-image_clear.png">
					</div> -->

					<% }else{  %>

						 <img class="profile-image" style="background-color:white; background-image: url(<%= person.defaultBigThumb %>); " src="/app/img/no-image_clear.png">
	
						 
					<% } %>
				</a>
					<a class="button button-primary" href="/@/<%= user.username %>/person/<%= person._id %>">Details</a>   
				<div>
					<div>
						<span class="title-info"><%=  person.first_name %></span>
					</div>
					<div class="p-content-desc">
						<span class="small-text" > <%= person.short_description.trunc(70) %></span>
					</div>
					<div class="updated-date">
						<b class="small-text">Edited <span  data-livestamp="<%= person.update_date %>"> </span></b>
					</div>
				</div> 

				       
			</div>

          
		<% }) %>

</div>


              
      </div>

  <script type="text/javascript" src="/vendor/js/jquery.matchHeight-min.js"></script>
  <script type="text/javascript" src="/vendor/js/URI.js"></script>
  <script type="text/javascript" src="/vendor/js/moment.js"></script>
  <script type="text/javascript" src="/vendor/js/livestamp.min.js"></script>
 


        <div class="prev-next-buttons">
          <div class="button button-primary prev-button"  id="previous" href="#">« Previous</div>  
          <div class="button button-primary next-button"  id="next" href="#">Next »</div>  
        </div>

   











    <script type="text/javascript">
      $(function() {
          $('.p-content').matchHeight();


			var uri = new URI(location.href)
			var queries = uri.search(true)
			var querySkip = parseInt(queries.skip) || 0;
			queries.first_name = queries.first_name || "";
			queries.last_name = queries.last_name || "";
			var queriesPage = queries.first_name

			if( !($(".p-content").length >= 20) ){
				$('#next').css("display", "none")
			}


			if(querySkip === 0){

				$('#previous').css("display", "none")
			  $('#previous').on("click", function (e) {
			        console.log("begining")
			    });
			  $('#next').on("click", function (e) {
					window.location.href = location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + (querySkip + 1)
			    });
			  
			  // console.log("queries.page")
			  
			}else{
				$('#previous').on("click", function (e) {
					window.location.href = location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + (querySkip - 1)
			    });
			    $('#next').on("click", function (e) {
					window.location.href = location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + (querySkip + 1)
			    });
			   // console.log("ubhjbhjbhjed")
			}

			$(".search-things input[type=radio]").on("change", function(){
		        console.log("submit")
		        $(this).closest("form").submit();
		      });

			// console.log(location.pathname)
			// console.log(location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + querySkip)
			// console.log(location.origin  + location.pathname + "?first_name=" + queries.first_name + "&last_name=" + queries.last_name + "&skip=" + (querySkip + 1))


      });
    </script>




<% include ../_partials/footer %>