

	<% include ../_partials/header %>
<%= person %>



<!-- text editor -->
 <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


<!-- text editor  end -->


<form method="post" action="?_csrf=<%= csrfToken %>" accept-charset="utf-8"  enctype="multipart/form-data">
	   
		<input type='file' name='image'><br>

		<!-- name info -->
		title: <input type="text" name="title" value="<%= person.title %>"/> <br>
		first_name*: <input type="text" name="first_name" value="<%= person.first_name %>"/> <br>
		middle_name: <input type="text" name="middle_name" value="<%= person.middle_name %>" /> <br>
		last_name*: <input type="text" name="last_name" value="<%= person.last_name %>" /><br>
		suffix: <input type="text" name="suffix" value="<%= person.suffix %>" /><br>
		
		<!-- general info -->
		job title: <input type="text" name="job_title" value="<%= person.job_title %>" /><br>
		gender: <input type="text" name="gender" value="<%= person.gender %>" /><br>
		birthday: <input type="text" name="birthday" value="<%= person.birthday %>" /><br>

		<!-- contact info  -->
		email: <input type="email" name="email" value="<%= person.email %>" /><br>
		primary phone: <input type="text" name="primary_phone" value="<%= person.primary_phone %>" /><br>
		mobile phone: <input type="text" name="mobile_phone" value="<%= person.mobile_phone %>" /><br>
		street address: <input type="text" name="address" value="<%= person.address %>" /><br>
		web address: <input type="text" name="web_address" value="<%= person.web_address %>" /><br>
					



		


		<!-- description info -->
		short description: <br><textarea id="short-description" type="text" name="short_description" /><%= person.short_description %></textarea><div id="short-description-count"></div><br>
		description: <br><textarea  id="description" type="text" name="description"  ><%= person.description %></textarea><br>
		<!-- submit button -->
		<input type ="submit" value="Save">
	</form>

	<input type="hidden" name="_csrf" value="<%= csrfToken %>">


  

<hr>
  <form method="post">
    <textarea id="mytextarea" value=""></textarea>
  </form>
  

<hr>



<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>



   <script>
	 $(function(){
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
			var showToolbar = false
		}else{
			var showToolbar = [
		    "undo redo | bold italic  underline strikethrough | bullist numlist | link | forecolor backcolor | removeformat "
		  ]
		}
		    tinymce.init({
		    
				selector: "#description",
				plugins : "paste autolink link lists charmap preview textcolor",
				toolbar: showToolbar,
				menubar: false,
				statusbar: false,
				content_css : "/app/css/style.css",
				default_link_target: "_blank",
				target_list: false,
				link_title: false,
				paste_as_text: true,
				paste_text_sticky : true,
				paste_text_sticky_default: true,
				link_assume_external_targets: true   

		    });

      
  //      	froalaEditorStandardButtons = [
  // "bold", "italic", "underline", "strikeThrough", 'formatOL', 'formatUL', "color", 
  // "|", "undo", "redo", 'clearFormatting', 'insertLink' ];

      
  //         $('#description').froalaEditor({
  //         	      toolbarButtons: froalaEditorStandardButtons,
		// 	      toolbarButtonsMD: froalaEditorStandardButtons,
		// 	      toolbarButtonsSM: froalaEditorStandardButtons,
		// 	      toolbarButtonsXS: froalaEditorStandardButtons,
  //         })
    




   

        $('#short-description').keyup(function () {
       	
			var max = 160;
			var len = $(this).val().length;

			v = $(this).val().substring(0,160)
			 $(this).val(v);


			if(len > max){
				$(this).val($(this).val().substring(0, len-1));
			}
			if (len >= max) {
			$('#short-description-count').text(' you have reached the limit');
			} else {
			var char = max - len;
			$('#short-description-count').text(char + ' characters left');
			 console.log(v)

			}
		}).bind('keypress', function(e) {
		  if ((e.keyCode || e.which) == 13) {
		    return false;
		  }
		});


      });
  </script>