<% include ../_partials/header %>

<p>admin: <%= user.displayname %></p>
<p>You are in: <%= hub.title %></p>
<p>Description: <%= hub.description %></p><br>
<a href="/hub/<%= hub.id %>/update">Edit hub information</a><br>
<%= hub %>
<hr>
people
<hr>
<%= persons %>
<hr>
groups
<hr>
<%= groups %>
<hr>
<a href="/hub/<%= hub.id %>/persons">view people</a><br>
<a href="/hub/<%= hub.id %>/add_person">add person</a><br><br>
<a href="/hub/<%= hub.id %>/groups">view groups</a><br>
<a href="/hub/<%= hub.id %>/add_group">add group</a><br><br>
<a href="/hub/<%= hub.id %>/events">view events</a><br>
<a href="/hub/<%= hub.id %>/add_event">add event</a><br>
<hr>
<form id="delete-entry" method="POST" action="?_method=DELETE">
<!-- <form id="delete-entry"> -->
<!--   <button  id="delete-button" type="submit">Delete resource</button> -->
</form>