<% include ../_partials/header %>


<% include ../_partials/user_navigation.ejs %>
<!-- <p>admin: <%= user.username %></p>
<p>You are in: <%= hub.title %></p>
<p>Description: <%= hub.description %></p><br>
<a href="/hub/<%= hub.id %>/update">Edit hub information</a><br>
<%= hub %>
<hr>
<a href="/hub/<%= hub.id %>/persons">view people</a><br>
<a href="/hub/<%= hub.id %>/add_person">add person</a><br><br>
<a href="/hub/<%= hub.id %>/groups">view groups</a><br>
<a href="/hub/<%= hub.id %>/add_group">add group</a><br><br>
<a href="/hub/<%= hub.id %>/events">view events</a><br>
<a href="/hub/<%= hub.id %>/add_event">add event</a><br>
<hr> -->



     <!--  <div>
        <h5>Welcome  <%= user.username %></h5>
      </div> -->

     <!--  <div class="content-box">

        <p class="up-title" >Hub title: <%= hub.title %></p>
       <p>  <%= hub.description %></p>
        <a class="up-title" href="/hub/<%= hub.id %>/update"><b>edit title</b></a>
      </div>  -->

      <div class="row hub">

          <div class="four columns">
            <div class="content-box">
            	<p class="up-title" >add a person:</p>
            	<a  class="button button-primary" href="/@/<%= user.username %>/add_person">+ add person</a>
              <% if(persons.length > 0){ %>
          		<hr>


            
              <p class="up-title" >Recently Updated People:</p>
              <div class="list-content">
                <ul>


                <% persons.forEach(function(person){ %>
		            <li>
                  <a href="/@/<%= user.username %>/person/<%= person._id %>"  > 
                    <div class="list-area">
      		                
      		              <%  if(person.img_foldername && person.img_thumbnail){ %>
                           <div class="image-block" style=" background-image: url(/uploads/img/<%= person.img_foldername %>/<%=  person.img_icon  %>); ">
                           </div>
      		        			<% }else{  %>

                        <div class="image-block" style=" background-color: #EEEEEE; background-image: url(<%= person.defaultBigThumb %>); ">
                           </div>
      		        			<% }  %>
      		                
      		                
      		                <div class="list-text-block">
      		                	<p class="title-info"  ><span><%= (person.first_name).trunc(25) %></span>		                  	
      		                	</p>
      		                </div>
                     </div>
                  </a>

		            </li>
             
                <% }) %>



                </ul>
              </div>
              

              <a class="button button-primary" href="/@/<%= user.username %>/persons">view all people</a><br>
              <% } %>

            </div>
         </div>





 		<div class="four columns">
            <div class="content-box">
            	<p class="up-title" >add a group:</p>
            	 <a  class="button button-primary" href="/@/<%= user.username %>/add_group">+ add group</a>
              <% if(groups.length > 0){ %>
        			<hr>

              <p class="up-title" >recently updated groups:</p>
              <div class="list-content">
                <ul>



                <% groups.forEach(function(group){ %>
                  <li>
                    <a href="/@/<%= user.username %>/group/<%= group._id %>"  > 
                      <div class="list-area">
                            <%  if(group.img_foldername && group.img_thumbnail){ %>
                           <div class="image-block" style=" background-image: url(/uploads/img/<%= group.img_foldername %>/<%=  group.img_icon  %>); ">
                           </div>
                        <% }else{  %>

                        <div class="image-block" style=" background-color: #EEEEEE; background-image: url(<%= group.defaultBigThumb %>); ">
                           </div>
                        <% }  %>

                         <div class="list-text-block">
                            <p class="title-info"  ><span><%= (group.title).trunc(25) %></span>                        
                            </p>
                          </div>


                       </div>
                    </a>

                  </li> 
                <% }) %>

                </ul>
              </div>
              
              <a class="button button-primary" href="/@/<%= user.username %>/groups">view all groups</a><br>
             <% } %>
            </div>
          </div>

      

          




      </div>

     <!--  <div class="footer">
        <ul>
          <li>
            <a href="#">ABOUT</a> 
          </li>
          <li>
            <a href="#">BLOG</a> 
          </li>
          <li>
            <a href="#">SUPPORT</a> 
          </li>
           <li>
            <a href="#">JOBS</a> 
          </li>
          <li>
            <a href="#">PRESS</a> 
          </li>
          <li>
            <a href="#">CONTACT</a> 
          </li>
           <li>
            <a href="#">PRIVACY</a> 
          </li>
          <li>
            <a href="#">TERMS</a> 
          </li>
      
       </ul>
      </div>
 -->




  <!-- footer start -->


<% include ../_partials/footer %>