<% include ../_partials/header %>
<p>Title: <%= hub.title %></p>
<p>Description: <%= hub.description %></p><br>
<a href="/hub/<%= hub.id %>/update">Edit Profile Hub Information</a><br>
<%= hub %>
<hr>
people
<hr>
<%= persons %>
<hr>
groups
<hr>
<%= groups %>
<a href="/hub/<%= hub.id %>/persons">view people</a><br>
<a href="/hub/<%= hub.id %>/add_person">add person</a>