<% include ../_partials/header %>


<% include ../_partials/user_navigation.ejs %>
<!-- <p>admin: <%= user.username %></p>
<p>You are in: <%= hub.title %></p>
<p>Description: <%= hub.description %></p><br>
<a href="/hub/<%= hub.id %>/update">Edit hub information</a><br>
<%= hub %>
<hr>
<a href="/hub/<%= hub.id %>/contacts">view people</a><br>
<a href="/hub/<%= hub.id %>/add_contact">add contact</a><br><br>
<a href="/hub/<%= hub.id %>/groups">view groups</a><br>
<a href="/hub/<%= hub.id %>/add_group">add group</a><br><br>
<a href="/hub/<%= hub.id %>/events">view events</a><br>
<a href="/hub/<%= hub.id %>/add_event">add event</a><br>
<hr> -->



     <!--  <div>
        <h5>Welcome  <%= user.username %></h5>
      </div> -->

     <!--  <div class="content-box">

        <p class="up-title" >Hub title: <%= hub.title %></p>
       <p>  <%= hub.description %></p>
        <a class="up-title" href="/hub/<%= hub.id %>/update"><b>edit title</b></a>
      </div>  -->

      <div class="row hub">

          <div class="six columns">
            <div class="content-box">
            	<p class="up-title" >Contacts</p>
            	<a  class="button button-primary" href="/@/<%= user.username %>/add_contact">+ add contact</a>
              <% if(contacts.length > 0){ %>
          		<hr>


            
             <!--  <p class="up-title" >People:</p> -->
              <div class="list-content">
                <ul>


                <% contacts.forEach(function(contact){ %>
		            <li>
                  <a href="/@/<%= user.username %>/contact/<%= contact._id %>"  > 
                    <div class="list-area">
      		                
      		              <%  if(contact.img_foldername && contact.img_thumbnail){ %>
                           <div class="image-block" style=" background-image: url(/uploads/img/<%= contact.img_foldername %>/<%=  contact.img_icon  %>); ">
                           </div>
      		        			<% }else{  %>

                        <div class="image-block" style=" background-color: #EEEEEE; background-image: url(<%= contact.defaultBigThumb %>); ">
                           </div>
      		        			<% }  %>
      		                
      		                
      		                <div class="list-text-block">
      		                	<p   ><span><%= (contact.first_name).trunc(25) %></span>		                  	
      		                	</p>
                           <p class="edited-count"> Edited <span  data-livestamp="<%= contact.update_date %>"> </span><p>
                          <p class="edited-count"> <%= contact.groupCount %> Groups  <p>

      		                </div>
                     </div>
                  </a>

		            </li>
             
                <% }) %>



                </ul>
              </div>
              

              <a class="button button-primary" href="/@/<%= user.username %>/contacts">view all contacts</a><br>
              <% } %>

            </div>
         </div>





 		<div class="six columns">
            <div class="content-box">
            	<p class="up-title" >Groups</p>
            	 <a  class="button button-primary" href="/@/<%= user.username %>/add_group">+ add group</a>
              <% if(groups.length > 0){ %>
        			<hr>

             
              <div class="list-content">
                <ul>



                <% groups.forEach(function(group){ %>
                  <li>
                    <a href="/@/<%= user.username %>/group/<%= group._id %>"  > 
                      <div class="list-area">
                            <%  if(group.img_foldername && group.img_thumbnail){ %>
                           <div class="image-block" style=" background-image: url(/uploads/img/<%= group.img_foldername %>/<%=  group.img_icon  %>); ">
                           </div>
                        <% }else{  %>

                        <div class="image-block" style=" background-color: #EEEEEE; background-image: url(<%= group.defaultBigThumb %>); ">
                           </div>
                        <% }  %>

                         <div class="list-text-block">
                            <p ><span><%= (group.title).trunc(25) %></span>                        
                            </p>

                             <p class="edited-count"> Edited <span  data-livestamp="<%= group.update_date %>"> </span><p>
                          <p class="edited-count"> <%= group.groupCount %> people  <p>


                          </div>


                       </div>
                    </a>

                  </li> 
                <% }) %>

                </ul>
              </div>
              
              <a class="button button-primary" href="/@/<%= user.username %>/groups">view all groups</a><br>
             <% } %>
            </div>
          </div>

      

          




      </div>

     <!--  <div class="footer">
        <ul>
          <li>
            <a href="#">ABOUT</a> 
          </li>
          <li>
            <a href="#">BLOG</a> 
          </li>
          <li>
            <a href="#">SUPPORT</a> 
          </li>
           <li>
            <a href="#">JOBS</a> 
          </li>
          <li>
            <a href="#">PRESS</a> 
          </li>
          <li>
            <a href="#">CONTACT</a> 
          </li>
           <li>
            <a href="#">PRIVACY</a> 
          </li>
          <li>
            <a href="#">TERMS</a> 
          </li>
      
       </ul>
      </div>
 -->




  <!-- footer start -->

  <script type="text/javascript" src="/vendor/js/moment.js"></script>
  <script type="text/javascript" src="/vendor/js/livestamp.min.js"></script>




<% include ../_partials/footer %>