<% include ../_partials/header %>

<!-- <p>admin: <%= user.displayname %></p>
<p>You are in: <%= hub.title %></p>
<p>Description: <%= hub.description %></p><br>
<a href="/hub/<%= hub.id %>/update">Edit hub information</a><br>
<%= hub %>
<hr>
<a href="/hub/<%= hub.id %>/persons">view people</a><br>
<a href="/hub/<%= hub.id %>/add_person">add person</a><br><br>
<a href="/hub/<%= hub.id %>/groups">view groups</a><br>
<a href="/hub/<%= hub.id %>/add_group">add group</a><br><br>
<a href="/hub/<%= hub.id %>/events">view events</a><br>
<a href="/hub/<%= hub.id %>/add_event">add event</a><br>
<hr> -->



      <div>
        <h5>Welcome  <%= user.displayname %></h5>
      </div>

     <!--  <div class="content-box">

        <p class="up-title" >Hub title: <%= hub.title %></p>
       <p>  <%= hub.description %></p>
        <a class="up-title" href="/hub/<%= hub.id %>/update"><b>edit title</b></a>
      </div>  -->
      <div class="row hub">

          <div class="four columns">
            <div class="content-box">
            	<p class="up-title" >add a person:</p>
            	<a  class="button button-primary" href="/hub/<%= hub.id %>/add_person">+ add person</a>
              <% if(persons.length > 0){ %>
          		<hr>


            
              <p class="up-title" >Recently Updated People:</p>
              <div class="list-content">
                <ul>


                <% persons.forEach(function(person){ %>
   
		            <li style="list-style: none;">
		                <div style="width: 68px; float: left;">
		                	<a href="/hub/<%= hub._id %>/person/<%= person._id %>">
		                    <%  if(person.img_foldername && person.img_thumbnail){ %>
		        				  <img style="background-color: #666; height: 60px; width: 60px;     border: 3px solid #000;" src="/uploads/img/<%= person.img_foldername %>/<%=  person.img_icon  %>"> 
		                 <!-- <img src="/app/img/no-image.png" > -->
		        			<% }else{  %>
		        			 <img style="background-color: #666; height: 60px; width: 60px;     border: 3px solid #000;" >
		        				 <!-- <img src="/app/img/no-image.png" > -->
		        			<% }  %>
		        			</a>
		                
		                </div>
		                <div style="float: left; margin-left: 5px; width: 60%;">
		                	<p class="title-info"  ><a href="/hub/<%= hub._id %>/person/<%= person._id %>"><%= person.title  %> <%= person.first_name  %> <%= person.middle_name  %> <%= person.last_name  %> <%= person.suffix  %></a><br>
		                  	<!-- <span class="date-small"  > <span data-livestamp="<%= person.update_date %>"> </span> <%= person.update_date %></span>   -->
		                	</p>

		             
		                </div>
		            </li>

                <% }) %>



                </ul>
              </div>
              

              <a class="button button-primary" href="/hub/<%= hub.id %>/persons">view all people</a><br>
              <% } %>

            </div>
         </div>





 		<div class="four columns">
            <div class="content-box">
            	<p class="up-title" >add a group:</p>
            	 <a  class="button button-primary" href="/hub/<%= hub.id %>/add_group">+ add group</a>
              <% if(groups.length > 0){ %>
        			<hr>

              <p class="up-title" >recently updated groups:</p>
              <div class="list-content">
                <ul>


                <% groups.forEach(function(group){ %>
   
                  <li style="list-style: none;">
                    <div style="width: 68px; float: left;">

	                    <a href="/hub/<%= hub._id %>/group/<%= group._id %>">
	        			 <img style="background-color: #666; height: 60px; width: 60px;" >
	        			</a>	
                    	
                    </div>
                    <div style="float: left; width: 60%;">
                      <p class="title-info"  ><a href="/hub/<%= hub._id %>/group/<%= group._id %>"> <%= group.title  %> </a><br>
  
                      </p>

                 
                    </div>
                  </li>

                  <% }) %>



                </ul>
              </div>
              
              <a class="button button-primary" href="/hub/<%= hub.id %>/groups">view all groups</a><br>
             <% } %>
            </div>
          </div>

           <div class="four columns">
            <div class="content-box">
            	<p class="up-title" >add an event:</p>
            	 <a  class="button button-primary" href="/hub/<%= hub.id %>/add_event">+ add event</a>

              <% if(events.length > 0){ %>
              <hr>
              <p class="up-title" >recently updated events:</p>
              <div class="list-content">
                <ul>



				 <% events.forEach(function(event){ %>
   
                  <li style="list-style: none;">
                <!--     <div style="width: 68px; float: left;">

	                    
	        			 <img style="background-color: #666; height: 60px; width: 60px;" >
	        				
                    
                    </div> -->
                    <div style="float: left; width: 60%;">
                      <p class="title-info"  ><a href="/hub/<%= hub._id %>/event/<%= event._id %>"> <%= event.title  %> </a><br>
  
                      </p>

                 
                    </div>
                  </li>

                  <% }) %>


                   


                </ul>
              </div>

               <a class="button button-primary" href="/hub/<%= hub.id %>/events">view all events</a><br>
                  <% } %>
            </div>
          </div>

          




      </div>

     <!--  <div class="footer">
        <ul>
          <li>
            <a href="#">ABOUT</a> 
          </li>
          <li>
            <a href="#">BLOG</a> 
          </li>
          <li>
            <a href="#">SUPPORT</a> 
          </li>
           <li>
            <a href="#">JOBS</a> 
          </li>
          <li>
            <a href="#">PRESS</a> 
          </li>
          <li>
            <a href="#">CONTACT</a> 
          </li>
           <li>
            <a href="#">PRIVACY</a> 
          </li>
          <li>
            <a href="#">TERMS</a> 
          </li>
      
       </ul>
      </div>
 -->

</div>

  </body>
</html>
