<% include ../../_partials/user_navigation.ejs %>
<!-- <div class="profile-category"> Group </div>
 -->  <div class="row">
   
      <div class="four columns profile-content-left">
        <div>
          <%  if(group.img_foldername && group.img_thumbnail){ %>
    				<img class="profile-image" style=" background-image: url(/uploads/img/<%= group.img_foldername %>/<%= group.img_thumbnail %>); " src="/app/img/no-image_clear.png">
    			<% }else{  %>
             <img  src="<%= group.defaultBigThumb %>" >
    			<% }  %>
        </div>

        <div  class="profile-content-left-info">
          <p>
             <%= group.name %>
          </p>
         <!--  <p>
            <span class="title-info">updated on: </span></br>
            <span class="small-text" id="updated-date" data-date="<%= updateDate %>">  </span><br>
          </p>


           <p>
            <span class="title-info">created on: </span></br>
            <span class="small-text" id="creation-date" data-date="<%= creationDate %>">  </span><br>
          </p> -->

        </div>
        <div class="button-profile-wrapper">
          <div style="float: left;">

            <a href="/@/<%= user.username %>/group/<%= group._id %>/update/"  class="button-profile"> 
           
              <span><i class="fa fa-pencil"></i> edit</span>
            </a>
          </div>
            <div  data-delete-path="/@/<%= user.username %>/group/<%= group._id %>/?_method=DELETE" data-redirect-path="/@/<%= user.username %>/contacts"  class="button-profile" id="button-profile-delete"> 
               <a href="#" >
                 
                <span><i class="fa fa-trash-o"></i> delete</span>
              </a>
            </div>
       
        </div>
         
        
        
      </div>

        <script type="text/javascript" src="/vendor/js/moment.js"></script>
        <script type="text/javascript">

         
          var mTime = function(id){
             var stime = $(id).attr("data-date")
             var dtime = parseInt(stime)
             var mtime = moment(dtime).format('LLL');  
             $(id).append(mtime)
          }

          mTime("#creation-date")
          mTime("#updated-date")


        </script>